.about-section {
  background-color: black;
  height: 80vh;
}

.about-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)),
    url(../img/table.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  box-shadow: 0px 0px 20px 30px black inset;
}

.about-first { 
       
    color:  #ffc107;
    border: 2px #ffc107 solid;
    border-radius: 25px;
    width: 25rem;
    margin: auto;
}

.about-second {
    border: 2px #ffc107 solid;
    border-radius: 25px;
    height:98%;
    width: 98%;
    margin: auto;
}

.hours {
  margin: auto;
  width: 75%;
}