/* .service-section {
  background-color: rgb(235, 235, 235);
  height: 600px;
  padding: 4rem;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
} */

.icon {
border: 8px double black;
background-color: rgba(255, 255, 255, 0.575);
border-radius: 50%;
padding: .5rem;
margin: auto;

}
