.services{
    background-color: rgb(212, 212, 212);
    padding: 3rem;

}

h1{
    letter-spacing: .5rem;
}
    
.carousel {
    max-height: 500px;

}

.carousel-img {
    padding: 10px 0px;
    margin: auto;
    height: 450px;
    max-width: 400px;
    min-width: 400px;
}


.carousel h3{
    color: rgb(255, 255, 255);
}

